<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>JOBS</title>
</head>

<body>
  <h1>JOBS</h1>
  <ul class="list-group">
    <% for(job of jobs){%>
      <a href="/jobs/<%=job._id%>/comments">
        <li class="list-group-item list-group-item-action jobDiv">
          <span class="jobItem">
            <%= job.number %>
          </span>
          <span class="jobItem">
            <%= job.name %>
          </span>
          <span class="jobItem">
            <%= job.location %>
          </span>
        </li>
      </a>
      <% }%>
  </ul>
  <!-- <a href="/jobs" class="btn btn-outline-primary">HOME</a> -->
</body>

</html>