<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NEW COMMENT</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <h1>NEW COMMENT</h1>
  <form action="/comments" method="POST" class="input-group">
    <button type="submit" class="btn btn-outline-primary input-group-prepend">SAVE COMMENT</button>
    <textarea name="note" class="form-control" aria-label="Comment" autofocus></textarea>
  </form>
</body>

</html>